body {
  margin: 0;
  background: #0b0f1a;
  color: #e6e6e6;
  font-family: Georgia, serif;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background: #070a12;
  padding: 30px 20px;
  box-sizing: border-box;
}

.sidebar h1 {
  font-size: 22px;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.sidebar a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin: 15px 0;
  letter-spacing: 2px;
  font-size: 14px;
}

.sidebar a:hover {
  color: #fff;
}

/* CONTENT */
.content {
  margin-left: 260px;
  padding: 60px;
  max-width: 900px;
}

/* ETİKET */
.issue-tag {
  font-size: 13px;
  letter-spacing: 3px;
  color: #999;
  text-align: right;
}

/* BAŞLIK */
h2 {
  font-size: 45px;
  letter-spacing: 6px;
  margin: 30px 0 10px;
}

/* ALT BAŞLIK */
.subtitle {
  font-style: italic;
  color: #aaa;
  margin-bottom: 35px;
  font-size: 17px;
}

/* PARAGRAF */
p {
  line-height: 1.9;
  font-size: 19px;
  margin-bottom: 20px;
}

/* YAZI BLOĞU (DERGİ HİSSİ) */
.article {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #444;
}

/* LİNK / PDF BUTONU */
a.pdf-link {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  border: 1px solid #777;
  color: #e6e6e6;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

a.pdf-link:hover {
  background: #fff;
  color: #000;
}

/* FOOTER */
.footer {
  margin-top: 80px;
  font-size: 13px;
  color: #666;
  text-align: center;
}

/* MOBİL (telefon için) */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .content {
    margin-left: 0;
    padding: 30px;
  }
/* KAPAK GÖRSELİ */
.cover {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 40px auto 50px;
  border: 1px solid #444;
  }
}
