body {
  margin: 0;
  background: #0b0f1a;
  color: #e6e6e6;
  font-family: Georgia, serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px; /* Daha geniş yapıldı */
  height: 100%;
  background: #070a12;
  padding: 30px 20px;
  box-sizing: border-box;
}

.sidebar h1 {
  font-size: 26px; /* biraz büyütüldü */
  letter-spacing: 4px;
  margin-bottom: 50px;
}

.sidebar a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin: 15px 0;
  letter-spacing: 2px;
  font-size: 16px; /* biraz büyütüldü */
}

.sidebar a:hover {
  color: #fff;
}

.content {
  margin-left: 340px; /* sidebar genişliğine göre */
  padding: 60px;
  max-width: 900px;
}

.issue-tag {
  font-size: 14px; /* biraz büyütüldü */
  letter-spacing: 3px;
  color: #999;
  text-align: right;
}

h2 {
  font-size: 50px; /* büyütüldü */
  letter-spacing: 6px;
  margin: 30px 0 10px;
}

.subtitle {
  font-style: italic;
  color: #aaa;
  margin-bottom: 35px;
  font-size: 18px; /* biraz büyütüldü */
}

.cover-img {
  display: block;
  margin: 20px auto 40px;
  max-width: 100%;
  border: 1px solid #444;
}

.description p {
  line-height: 1.9;
  font-size: 19px; /* biraz büyütüldü */
  text-align: justify;
  margin-bottom: 20px;
}

.pdf-btn {
  display: inline-block;
  padding: 10px 25px;
  color: #e6e6e6;
  border: 1px solid #777;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}

.pdf-btn:hover {
  border-color: #fff;
  color: #fff;
}

footer {
  margin-top: 80px;
  font-size: 13px;
  color: #666;
  text-align: center;
}
